
    <mat-form-field appearance="outline">
        <mat-label class="input-label">Loan Purpose</mat-label>
        <mat-select (selectionChange)="onSelectLoanType($event)" formControlName="loanType"  name="loanType">
                <mat-option>--</mat-option>

                <mat-option *ngFor="let loan of loanOptions" [value]="loan">
                {{loan}}
                </mat-option>
        </mat-select>
        <mat-error *ngIf="checkValidity">
            <span *ngIf="selectControl?.errors ">
                This field is mandatory.
            </span>
            <span *ngIf="selectControl?.errors">This field is invalid.</span>
        </mat-error>
    </mat-form-field>