
 <p [formGroup]="loanType">

     <mat-form-field appearance="outline">
         <mat-label class="input-label">Loan Purpose</mat-label>
         <mat-select (selectionChange)="onSelectLoanType($event)" formControlName="loanTypeDesc" >
             <mat-option>--</mat-option>
             
                <mat-option *ngFor="let loan of selectOptions" [value]="loan">
                    {{loan}}
                </mat-option>
            </mat-select>
            <mat-error >
            <span >
                This field is mandatory.
            </span>
            <span >This field is invalid.</span>
        </mat-error>
    </mat-form-field>
</p>