<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

body{
  margin: 0;
}
.top-bar{
  background: linear-gradient(to right,#fa7f25 0,var(--ui-brandingbar-end) 90%,var(--ui-brandingbar-start) 100%);
    background-size: 110%;
    height: 20px;
    width: 100%;
    background: linear-gradient(to right,#fa7f25 0,var(--ui-brandingbar-end) 90%,var(--ui-brandingbar-start) 100%);
    background-size: 110%;
    display: block;
    flex: 0 0 auto;
    height: 8px;
    z-index: 5;
    position: relative;
    z-index: 3;
    flex: 0 0 auto;
    background-color: #fa7f25;
}
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }



  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 
  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  .logIn{
    text-align: left;
  }
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="content">
  <div class="top-bar">  
  </div>
  <div class="top-menu"> 

  </div>
  <div>
    <h3 class="logIn">
      Home loan Application
    </h3>
    <div class="">

    </div>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Smart-ID">Content 1</mat-tab>
    <mat-tab label="Biometric">Content 2</mat-tab>
    <mat-tab label="Pin-Generator">Content 3</mat-tab>
  </mat-tab-group>
  <title>Home loan - Swedbank </title>
  <span>{{ title }} app is running!</span>

  <app-loan-form></app-loan-form>

</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
